.hero{
    height: auto;
    background: linear-gradient(180deg, #cbb2cc, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color:#090909 ;
    font-size: 1.5rem;
    font-weight: bold;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: bold;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 100px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: black;
    font-size: 22px;
    font-weight: 500; 
    border: 1px solid;
    padding: 13px 20px;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}