.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid; */
    margin-top: 70px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;  
    /* border: 1px solid; */
}
.footer-logo p{
    color: #383838;
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 1.5rem;
    /* border: 1px solid; */
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icons{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 20px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    width: 100%;
    color: #1a1a1a;
    font-size: 1.6rem;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}